<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请求类型</title>
</head>
<body>
    <h2>请求类型</h2>
    <button>新增</button>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>类型</th>
            <th>操作</th>
        </tr>
        </thead>
    <tbody>
    {% for type in type_all %}
    <tr>
        <td>{{ type.id }}</td>
        <td>{{ type.name }}</td>
        <td>
            <a href="#">编辑</a>
            <a href="#">删除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</body>
</html>